@inherits EditEmployeeBase
@page "/editemployee/{Id}"

<h3>EditEmployee</h3>

@if (Employee == null)
{
    <div class="spinner-border"></div>
}
else
{
    <EditForm Model="Employee">
        <div>
            <label for="firstName">Firstname</label>
            <InputText id="firstName" @bind-Value="Employee.FirstName"  ></InputText>
        </div>

    </EditForm>
}

