@page "/"
@inherits EmployeeListBase

<h3>EmployeeList</h3>

@* show footer *@
<input type="checkbox" id="showFooter" @bind="ShowFooter"/>
<label for="showFooter">Toggle Footer</label>

@* if employees data not been loaded yet *@
@if (Employees == null)
{
    <div class="spinner-border"></div>
}
else
{
<div class="card-deck">
    @foreach (var employee in Employees)
    {
        //passing 2 params to DisplayEmployee
        //employee from this class, ShowFooter from EmployeeListBase class=true
        <DisplayEmployee Employee="employee" ShowFooter="ShowFooter"></DisplayEmployee>

    }
</div>
}



